body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url("photos/bg11.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* BOOK */
.book {
    width: 95%;
    max-width: 360px;
    height: 90vh;
    background: linear-gradient(135deg, #ffe4ec, #ffd1dc);
    padding: 12px;
    border-radius: 15px;
    border: 4px solid #f8b6c8;
    box-shadow: 0 0 15px rgba(248,182,200,0.8),
                0 10 25px rgba(0,0,0,0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page {
    display: none;
    flex: 1;
}

.page.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
    max-width: 350px;   /* fixed width */
    max-height: 55vh;
    object-fit: contain;
    border-radius: 15px;
    margin: 0 auto;     /* center the image */
    display: block;
}

/* TEXT */
h1 { 
    color: #e91e63; 
    font-size: 1.4rem;
}

p { 
    color: #444; 
    font-size: 0.95rem;
}

/* BUTTONS */
.buttons {
    margin-top: 8px;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 20px;
    background-color: #ffc0cb;
    color: #8b004f;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #ff9eb5;
}

/* LOVE SCREEN */
#loveScreen {
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom, #87cefa, #ffc0cb);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loveScreen h1 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 20px red;
    animation: pulse 2s infinite;
    text-align: center;
}

/* HEARTS */
.heart {
    position: absolute;
    color: red;
    animation: float 5s linear infinite;
}

@keyframes float {
    0% { transform: translateY(100vh); opacity: 1; }
    100% { transform: translateY(-10vh); opacity: 0; }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
